<%= form_with(model: [@client, @project, @time_reg]) do |form| %>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :assigned_task_id %>
    <%= form.collection_select :assigned_task_id, @assigned_tasks, :id, :name %>
  </div>

  <%= form.hidden_field :membership_id, value: @membership.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>