<div class="flex flex-col items-center pt-4">
  <div class="max-w-md">
    <div class="p-1 my-4" data-controller="time-tasks">
    <h1 class="font-bold">New time entry:</h1>
      <%= form_with(model: @time_reg) do |form| %>
        <div class="field my-4 w-80">
          <%= form.label :project_id %>       
          <%= form.collection_select :project_id, @projects , :id, :name, { include_blank: "select a project:"}, {class: 'w-full rounded-md p-1', id: 'timeproject-select'}  %>
          <% @time_reg.errors.full_messages_for(:membership).any? do |message| %>
            <div class="text-sm italic text-gray-600">Please select a project </div>
          <% end %>
        </div>

        <div class="field my-4 w-80">
          <%= form.label :assigned_task_id %>
          <%= form.collection_select :assigned_task_id, {}, :id, :name, {}, {class: 'w-full rounded-md p-1', id: 'timetask-select'}  %>
          <% @time_reg.errors.full_messages_for(:assigned_task_id).each do |message| %>
            <div class="text-sm italic text-gray-600"><%= message %></div>
          <% end %>
        </div>
        <div class="field my-4">
          <%= form.label :notes %>       
          <% @time_reg.errors.full_messages_for(:notes).each do |message| %>
            <div class="text-sm italic text-gray-600"><%= message %></div>
          <% end %>
          <br>
          <%= form.text_area :notes, class: 'w-full rounded-md p-1' %>
        </div>

        <div class="field my-45">
          <%= form.label :minutes %>
          <% @time_reg.errors.full_messages_for(:minutes).each do |message| %>
            <div class="text-sm	italic text-gray-600"><%= message %></div>
          <% end %>
          <br>  
          <%= form.number_field :minutes, value: 0,class: 'w-full rounded-md p-1'  %>
        </div>

        <div class="field my-4">
          <%= form.label :date_worked %>
          <br>
            <div class="flex justify-between">
              <%= form.date_select :date_worked, {}, class: "w-24 rounded-md p-1" %>
            </div>
        </div>

        <div class="actions text-center">
          <%= form.submit class: 'rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow' %>
        </div>   
      <% end %> 
    </div>
  </div>  
</div>
