<div class="flex flex-col items-center pt-4">
  <div class="max-w-md">
    <div class="p-1 my-4">
    <h1 class="font-bold text-2xl mb-4">Edit time entry:</h1>

    <div class="p-1 my-4" data-controller="time-tasks">
      <%= form_with(model: @time_reg) do |form| %>
        <div class="field my-4 w-80">
          <%= form.label :project_id, class: 'block text-gray-700 text-sm font-bold mb-2'  %>       
          <%= form.collection_select :project_id, @projects , :id, :name, { selected: @time_reg.project.id }, { class: 'w-full rounded-md p-2 border border-gray-300', id: 'timeproject-select' } %>
          <% @time_reg.errors.full_messages_for(:project_id).each do |message| %>
            <div class="text-red-600 text-xs italic mt-1"><%= message %></div>
          <% end %>
        </div>

        <div class="field my-4 w-80">
          <%= form.label :assigned_task_id, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <%= form.collection_select :assigned_task_id, @assigned_tasks, :last, :first, {}, {class: 'w-full rounded-md p-2 border border-gray-300', id: 'timetask-select'}  %>
          <% @time_reg.errors.full_messages_for(:assigned_task_id).each do |message| %>
            <div class="text-red-600 text-xs italic mt-1"><%= message %></div>
          <% end %>
        </div>
        <div class="field my-4">
          <%= form.label :notes, class: 'block text-gray-700 text-sm font-bold mb-2' %>       
          <% @time_reg.errors.full_messages_for(:notes).each do |message| %>
            <div class="text-red-600 text-xs italic mt-1"><%= message %></div>
          <% end %>
          <br>
          <%= form.text_area :notes, class: 'w-full rounded-md p-2 border border-gray-300' %>
        </div>

        <div class="field my-45">
          <%= form.label :minutes, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <% @time_reg.errors.full_messages_for(:minutes).each do |message| %>
            <div class="text-red-600 text-xs italic mt-1"><%= message %></div>
          <% end %>
          <br>  
          <%= form.number_field :minutes, class: 'w-full rounded-md p-2 border border-gray-300'  %>
        </div>

        <div class="field my-4 mb-10">  
          <%= form.label :date_worked, class: 'block text-gray-700 text-sm font-bold mb-2' %>
          <% @time_reg.errors.full_messages_for(:date_worked).each do |message| %>
            <div class="text-red-600 italic text-xs mt-1"><%= message %></div>
          <% end %>     
          <div class="flex justify-between">
            <%= form.date_field :date_worked %>
          </div>
        </div>

        <div class="actions text-center">
          <span class="rounded bg-seaGreen p-2 m-2 hover:bg-seaGreenDark shadow text-white">
           <%= form.submit class: '' %>
          </span>
          <%= link_to 'Cancel', :back, class: "rounded bg-tastyWhiteLite p-2 m-2 hover:bg-red-100 shadow mt-6" %>
        </div>   
      <% end %> 
    </div>

    </div>

    <div class="text-center p-1 m-1">
      <%= 
        link_to "Delete time entry ", time_reg_path(@time_reg), 
          class: 'rounded bg-red-400 p-2 hover:bg-red-500', 
          data:{
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }
      %>        
    </div>
  </div>
</div>

