<% t = Time.new %>

<div class="flex flex-row self-center m-auto w-full 2xl:w-3/4 ">
  <div class=" justify-items-center max-[800px]:hidden mt-[5vh]">
    <div class="content-center self-center justify-items-center ">
      <div class="flex flex-col self-center ">
        <div data-controller="modal" class="text-xs mt-2 m-auto self-center">
          <button data-action="click->modal#toggle">
            <div data-modal-target="modal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
              <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">

                <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
              </div>
            </div>
            <div class="bg-green-500 h-16 w-16 px-1 py-1 rounded-xl self-center m-auto ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-14 h-14 self-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </div>
            <p class='mt-4 text-lg'>
            Track time</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class=" flex flex-col grow mx-8">

    <div class="flex w-full justify-between">
      <div class=" flex  ">
        <div class="border rounded p-2 ">
          <%= link_to time_regs_path(date: @chosen_date - 1.day) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
          <% end %>
        </div>
        <div class="border rounded p-2">
          <%= link_to time_regs_path(date: @chosen_date + 1.day) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
          <% end %>
        </div>
      </div>
      <div class="flex lg:text-3xl text-xl w-3/4">
        <% if @chosen_date == Date.today %>
          <p class="bold ml-2 mr-4">Today:</p>
        <% end %>
        <p class=""><%= @chosen_date.strftime("%A, %d %B") %></p>
      </div>
      <div class="col-span-3 ">
        <%= form_tag(time_regs_path, method: "get", class: "flex space-x-2") do %>
            <%= date_field_tag :date, @chosen_date %>
            <%= submit_tag "Go to date", class: "bg-green-200 p-1 rounded-xl text-sm" %>
        <% end %>
      </div>
    </div>

    <div class=" min-[800px]:hidden ">
        <div data-controller="modal" class="">
          <button data-action="click->modal#toggle">
            <div data-modal-target="modal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
              <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">
                <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
              </div>
            </div>
            <div class="bg-green-600 mt-4 h-8 w-screen px-1 py-1 rounded-xl self-stretch text-white  ">
              Track time
            </div>
            
          </button>
      </div>
    </div>

    <div class="flex flex-row items-center content-center mt-6 max-[640px]:hidden max-[800px]:my-2">
      <% Date::DAYNAMES.rotate.each_with_index do |day, i| %>
        <div class="grid grow max-[800px]:text-xs <%= 'border-b-2 border-red-300' if @chosen_date.wday == (i+1)%7 %>">
          <%= day %><br>
          <% day_minutes = @time_regs_week.select{ |tr| tr.date_worked.wday == (i+1) % 7 }.sum(&:minutes) %>
          <%= format_duration(day_minutes) %>
        </div>
      <% end %>
      <div class="grid  text-end">
        Week total
        <br />
        <%= format_duration(@total_minutes_week) %>
      </div>
    </div>

    <div class="border-y-2 divide-y-2">
        <%= render @time_regs %>
    </div>
    <div class='text-end mt-6 mr-24'></div>
      Total: <%= format_duration(@total_minutes_day) %>
    </div>

    <%= link_to "Clients", clients_path, class: "relative bottom-0 border-2 w-14" %>
  </div>
</div>













