<% t = Time.new %>

<div class="flex flex-row self-center m-auto w-full 2xl:w-3/4 " data-controller="modal">
  <div class=" justify-items-center max-[800px]:hidden mt-[5vh]">
    <div class="content-center self-center justify-items-center ">

      <div class="flex flex-col self-center ">
        <div class="text-xs mt-2 m-auto self-center">
          <!-- NORMAL BUTTON FOR SHOWING THE NEW FORM-->
          <button data-action="click->modal#toggle">

            <div data-modal-target="modal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
              <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">
                <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
              </div>
            </div>
            <div class="bg-seaGreen hover:bg-seaGreenDark h-16 w-16 px-1 py-1 rounded-xl self-center m-auto ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-14 h-14 self-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </div>
            <p class='mt-4 text-lg'>
            Track time</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col grow mx-8">
    <div class="flex w-full justify-between">
      <div class=" flex space-x-4">
          <%= link_to root_path(date: @chosen_date - 1.day) do %>
            <div class="p-2 rounded-lg bg-seaGreen text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>
            </div>
          <% end %>
        <%= link_to root_path(date: @chosen_date + 1.day) do %>
          <div class="p-2 rounded-lg bg-seaGreen text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </div>
        <% end %>
      
      <div class="flex lg:text-3xl text-xl w-3/4  max-[800px]:hidden">
        <% if @chosen_date == Date.today %>
          <p class="bold ml-4 mr-4">
          Today: 
          </p>
        <% end %>

        <p class="  ">
        <%= @chosen_date.strftime("%A, %d %B") %>
        </p>
      </div>
</div>
      <div class="col-span-3">

        <%= form_tag(root_path, method: "get", class: "flex space-x-2") do %>
          <%= date_field_tag :date, @chosen_date %>
          <div class="self-center ml-2 bg-seaGreen hover:bg-seaGreenDark rounded-xl self-center m-auto p-2 text-white flex">
            <%= submit_tag "Go to date", class: "" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" ml-2 mr-2 w-4 h-4 self-center">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </div>

        <% end %>
      </div>







    </div>

    <!-- MOBILE BUTTON FOR SHOWING THE NEW FORM-->
    <div class=" min-[800px]:hidden ">
      <div class="">
        <button data-action="click->modal#toggle">

          <div data-modal-target="modal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
            <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">
              <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
            </div>
          </div>
          <div class="bg-seaGreen mt-4 h-8 w-screen px-1 py-1 rounded-xl self-stretch text-white  ">
            Track time
          </div>
        </button>
      </div>
    </div>

    <div class="flex flex-row items-center content-center mt-6 max-[640px]:hidden max-[800px]:my-2">
      <% Date::DAYNAMES.rotate.each_with_index do |day, i| %>
        <div class="grid grow max-[800px]:text-xs <%= 'border-b-2 border-red-300' if @chosen_date.wday == (i+1)%7 %>">
          <% current_day_index = i + 1 %>

          <% if @chosen_date.wday == 0 %>
            <% diff =  current_day_index - 7%>
          <% else %>
            <% diff = current_day_index - @chosen_date.wday %>
          <% end %>

          <% puts("INSIDE LOOP @chosen_date", @chosen_date.wday) %>

          <%= link_to day, root_path(date: @chosen_date + diff.days) %><br>
          <% day_minutes = @time_regs_week.select{ |tr| tr.date_worked.wday == (i+1) % 7 }.sum(&:minutes) %>
          <%= format_duration(day_minutes) %>

        </div>
      <% end %>
      <% puts(" AFTER LOOP chosen chosen date: ",@chosen_date) %>
    </div>

      <div class="grid grow">
        Week total
        <br />
        <%= format_duration(@total_minutes_week) %>
      </div>
    </div>
 

    <!-- DIV FOR SHOWING THE NEW FORM-->
    <div data-modal-target="modal" class="modal <%= "hidden" unless @show_new %> fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">
        <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
      </div>
    </div>

    <div class="border-y-2 divide-y-2">
      <%= render @time_regs %>
    </div>
    
    <div class='text-end mt-6 mr-24'>
      Total: <%= format_duration(@total_minutes_day) %>
    </div>
  </div>
</div>

