<% t = Time.new %>

<div class="flex flex-row">
  <div class="basis-1/12 justify-items-center">


    <div class="content-center self-center justify-items-center my-16">
      <div class="flex flex-col self-center gap-y-2">
        <div data-controller="modal" class="text-xs mt-2 m-auto self-center">
          <button data-action="click->modal#toggle">
            <div data-modal-target="modal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
              <div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all" data-action="click->modal#preventClose">

                <%= render "time_regs/new", time_reg: @time_reg, projects: @projects %>
              </div>
            </div>
            <div class="bg-green-500 h-16 w-16 px-1 py-1 rounded-xl self-center m-auto ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-14 h-14 self-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </div>
            <p class='mt-4 text-lg'>
            Track time</p>
          </button>
        </div>
      </div>
    </div>


  </div>

  <div class="basis-10/12 flex flex-col h-100 ">
    <div class="grid grid-cols-12">
      <div class="col-span-1 flex  ">
        <div class="border rounded p-2 ">
          <%= link_to root_path(date: @chosen_date - 1.day) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
          <% end %>
        </div>
        <div class="border rounded p-2">
          <%= link_to root_path(date: @chosen_date + 1.day) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
          <% end %>
        </div>
      </div>
      <div class="col-span-8 flex text-3xl self-end">
        <% if @chosen_date == Date.today %>
          <p class="bold mr-2">
          Today: 
        <% end %>

        <p class="text-2xl  ">
        <%= @chosen_date.strftime("%A, %d %B") %>
        </p>
      </div>

      <div class="col-span-3 flex">
        <div class="flex flex-col">
          <%= form_tag(root_path, method: "get") do %>
            <%= date_field_tag :date, @chosen_date %>
            <%= submit_tag "Go to date", class: "bg-green-200 p-1 rounded" %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="flex flex-row items-center content-center mt-6">
      <% Date::DAYNAMES.rotate.each_with_index do |day, i| %>
        <div class="grid grow <%= 'border-b-4 border-red-300' if @chosen_date.wday == (i+1)%7 %>">
          <%= day %><br>
          <% day_minutes = @time_regs_week.select{ |tr| tr.date_worked.wday == (i+1) % 7 }.sum(&:minutes) %>
          <%= format_duration(day_minutes) %>
        </div>
      <% end %>

      <div class="grid grow">
        Week total
        <br />
        <%= format_duration(@total_minutes_week) %>
      </div>

    </div>



    <div class="border-y-2 divide-y-2">
      <%= render @time_regs %>
      </div>
      <div class='text-end mt-6 mr-24'>
        Total: <%= format_duration(@total_minutes_day) %>
      </div>
    </div>
  </div>

  <%= link_to "clients", clients_path, class: "border-2" %>



