<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Edit <%= resource_name.to_s.humanize %></h2>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="-space-y-px rounded-md shadow-sm">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <%= f.label :first_name, class: "sr-only" %>
            <%= f.text_field :first_name, autocomplete: "given-name", required: true, class: "relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "First name" %>
          </div>

          <div>
            <%= f.label :last_name, class: "sr-only" %>
            <%= f.text_field :last_name, autocomplete: "family-name", required: true, class: "relative block w-full border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Last name" %>
          </div>

          <div>
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Email address" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div>
            <%= f.label :password, class: "sr-only" %> 
            <%= f.password_field :password, autocomplete: "new-password", class: "relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Password (leave blank to keep old password)" %>
          </div>

          <div>
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Confirm password (leave blank to keep old password)" %>
          </div>

          <div>
            <br>
            <%= f.label :current_password, class: "sr-only" %> <i>(we need your current password to confirm your changes)</i>
            <br>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Current password" %>
          </div>

          <div>
            <%= f.submit "Update", class: "group relative flex w-full justify-center rounded-md !bg-indigo-500 py-2 px-3 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      </div>
    <% end %>  </div>
</div>
<h3>Cancel my account</h3>
<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>
<%= link_to "Back", :back %>
