 <%= form_with model: @task do |form| %>
  <div>    
    <% @task.errors.full_messages_for(:name).each do |message|%>
      <div class="text-red-600 italic text-xs mt-1">
        <%= message %>
      </div>
    <% end %>
    <%= form.label :name, class: 'block text-gray-700 font-bold mb-2' %> 
    <%= form.text_area :name, class: 'w-full rounded-md p-2 border border-gray-300 mr-8 focus:ring-1 focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' %>
  </div>
  <div class="text-center mt-10">
    <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark shadow text-white">
      <%= form.submit class: '' %>
    </span>
    <%= link_to 'Cancel', :back, class: "rounded bg-tastyWhiteLite p-2 m-2 hover:bg-red-100 shadow mt-6" %>

  </div>
<% end %>

