<div class="bg-indigo-200" >
    <%= form_with model: @task do |form| %>
        <div>
            <%= form.label :name %> <br>
            <%= form.text_area :name %>
            <% @task.errors.full_messages_for(:name).each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>

        <div>
            <%= form.submit%>
        </div>
    <% end %>
</div>
