<div class="bg-indigo-200" >
    <%= form_with model: @client do |form|%>
        <div>
            <%= form.label :name %> <br>
            <%= form.text_area :name %>
            <% @client.errors.full_messages_for(:name).each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>

        <div>
            <%= form.label :description %> <br>
            <%= form.text_area :description %>
            <% @client.errors.full_messages_for(:description).each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>  

        <div>
            <%= form.submit%>
        </div>
    <% end %>
</div>