<%= form_with model: @client do |form|%>
  <div>
    <%= form.label :name %> <br>
    <%= form.text_area :name, class: "w-full rounded-md p-1" %>
    <% @client.errors.full_messages_for(:name).each do |message|%>
      <div class="text-sm italic text-gray-600">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %> <br>
    <%= form.text_area :description, class: "w-full rounded-md p-1" %>
    <% @client.errors.full_messages_for(:description).each do |message|%>
      <div class="text-sm italic text-gray-600">
        <%= message %>
      </div>            
    <% end %>
  </div>  

  <div class="actions flex justify-center p-1 m-1">
    <%= form.submit class: "rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow" %>
    <%= link_to 'Cancel', :back, class: "rounded bg-gray-200 p-2 m-2 hover:bg-gray-300 shadow" %>
  </div>
<% end %>

