<%= form_with model: @client do |form|%>
  <div>
    <%= form.label :name, class: 'block text-gray-700 font-bold mb-2' %> <br>
    <%= form.text_area :name, class: "w-full rounded-md p-2 border border-gray-300 mr-8" %>
    <% @client.errors.full_messages_for(:name).each do |message|%>
      <div class="text-red-600 italic text-xs mt-1">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :description, class: 'block text-gray-700 font-bold mb-2' %> <br>
    <%= form.text_area :description, class: "w-full rounded-md p-2 border border-gray-300 mr-8" %>
    <% @client.errors.full_messages_for(:description).each do |message|%>
      <div class="text-red-600 italic text-xs mt-1">
        <%= message %>
      </div>            
    <% end %>
  </div>  

  <div class="actions text-center p-1 m-1">
    <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white">
      <%= form.submit class: "" %>
    </span>
    <%= link_to 'Cancel', :back, class: "rounded bg-tastyWhiteLite p-2 m-2 hover:bg-red-100 shadow" %>
  </div>
<% end %>

