<div class="flex justify-evenly pt-4">
  <div class="max-w-md">
    <div>
      <div class='flex justify-between'>
      <p class='text-2xl mr-4'> <%= @client.name %></p> 
      <div class="flex flex-row justify-end space-x-2 pb-4 ">
        <%= link_to "Edit client", edit_client_path(@client), class: 'rounded bg-blue-300 p-2 hover:bg-blue-400' %>
        <%= 
          link_to "Delete client", client_path(@client),  class: ' rounded bg-red-400 p-2 hover:bg-red-500',
            data:{
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }
          %>
    </div>
    </div>
    <p class='text-md'> <%= @client.description %></p>
    <br>
    <div>
      <h1 class="font-medium border-b border-gray-300 text-lg">Projects: </h1>
      <%= render @projects %>  
    </div>
    <br>
    <%= link_to "back to clients", clients_path, class: "text-gray-600 italic text-sm" %>
  </div>
</div>
