<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom35">
    <div class='flex justify-between'>
      <p class='text-3xl mr-4'> <%= @client.name %></p> 
      <div class="flex flex-row justify-end space-x-2 pb-4 ">
        <%= link_to "Edit client", edit_client_path(@client), class: 'rounded bg-blue-300 p-2 hover:bg-blue-400' %>
        <%= 
          link_to "Delete client", client_path(@client),  class: ' rounded bg-red-400 p-2 hover:bg-red-500',
            data:{
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }
          %>
      </div>
    </div>

    <p class='text-md'> <%= @client.description %></p>

    <div class="pt-10">
      <h1 class="font-medium border-b border-gray-300 text-lg italic pb-2">Your projects </h1>
      <%= render @projects %>  
    </div>
    <br>
    <div class="flex justify-evenly">
      <%= link_to "New Project", new_project_path, class: ' bg-blue-200 rounded p-2 hover:bg-blue-300'%>
    </div>
    <%= link_to "back to clients", clients_path, class: "text-gray-600 italic text-sm" %>
  </div>
</div>
