<nav>
<div class="flex space-x-2 h-16 bg-orange-100 shadow-md sm:justify-center items-center">
  <a href="" class="font-bold">Reap</a>
  <a href="time">Time</a>
  <a href="projects">Projects</a>
  <div class="">
      <% if true %>
        <div class="group absolute">
          <button type="button" class="btn btn-secondary">UserName</button>
          <div class="hidden group-hover:block h-24 ">
            <div class="table">
              <div class="table-row"><%= link_to "Edit Account" %></div>
              <div class="table-row"><%= button_to "Sign Out" %></div>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign Up" %>
        <%= link_to "Sign In" %>
      <% end %>
    </div>
  </div>
</nav>
<h1 class="text-center">home#index</h1>
<p class="text-center">Find me in app/views/home/index.html.erb</p>
<%= link_to "projects", projects_path, class: "border-2" %>