<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom45 bg-neutral-50 rounded border border-gray-300 p-4" data-controller="project-reports">
    <h1 class="text-2xl m-1 font-bold">Time report</h1>
    <br>
      <%= form_with model: @report do |form| %>
      <div id="timeframe-container" >
        <div class="flex justify-between">
          <%= form.label :timeframe, "Timeframe:"%>
          <%= form.select :timeframe, @TimeFrameOptions, 
                        { include_blank: "Select a time"},
                        { id: 'timeframe-select', class: 'w-custom15 mr-10' }
          %>  
        </div>
        <div id="custom-timeframe">
        </div> 
      </div>
      <br>
      <div id="client-container" class="clear-both flex justify-between">
        <%= form.label :client, "Client: "%>
        <%= form.collection_select(:client, @clients, :id, :name, 
                          { include_blank: "Select a client"},
                          { id: 'client-select', class: 'w-custom15 mr-10' })
        %>
      </div>
      <br>
      <div id="project-container" class="flex justify-between">
        <%= form.label :project, "Project:"%>
        <%= form.collection_select(:project, @projects , :id, :name,
                          { include_blank: "Select a project" },
                          { id: 'project-select', class: 'w-custom15 mr-10'  })
        %>    
      </div>
        <br>
        <div id="task-member-container">
          <div id="task-container">
            <%= form.label :task_ids, "Tasks: "%>
            <div id="task-checkboxes" data-checkbox-group-target="container">
              <% if @tasks.length < 1 %>
                <p>No tasks found</p>
              <% else %>
                <div class="mr-4 font-semibold p-1 w-fit float-left m-1">
                  <%= check_box_tag "check_tasks", 0, false, id: "check_all_tasks" %>
                  <%= 'Check all' %>
                </div>
                <% @tasks.each_with_index do |task, index| %>
                  <div class="mr-4 border border-yellow-600 rounded p-1 w-fit float-left m-1">
                    <%= check_box_tag "task_ids[]", task.id, @report.task_ids.include?(task.id.to_s), id: "check_task_#{index}" %>
                    <%= task.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <br>
          <div id="member-container" class="clear-both">
            <%= form.label :members_ids, "Members: "%>
            <div id="member-checkboxes" data-checkbox-group-target="container " data-controller="check-boxes">
              <% if @members.length < 1 %>
                <p>No members found</p>
              <% else %>
                <div class="mr-4 font-semibold p-1 w-fit float-left m-1">
                  <%= check_box_tag "check_members", 0, false, id: "check_all_members" %>
                  <%= 'Check all' %>
                </div>
                <% @members.each do |member| %>
                  <div class="mr-4 border border-yellow-600 rounded p-1 w-fit float-left m-1">
                    <%= check_box_tag "member_ids[]", member.id, @report.member_ids.include?(member.id.to_s), id: "check_member_#{member.id}" %>
                    <%= "#{member.first_name} #{member.last_name}" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="clear-both text-center">
          <%= form.submit class: 'rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow clear-both' %>
        </div>
      <% end %>  
  </div>
</div>
