<%= form_with model: @report do |form| %>
  <div id="timeframe-container">
    <div>
      <!-- shows possible error for the timeframe -->
      <% @report.errors.full_messages_for(:timeframe).each do |message| %>
        <div class="text-sm italic text-gray-600"><%= message %></div>
      <% end %>
    </div>
    <div class="flex justify-between">
      <%= form.label :timeframe, "Timeframe:" %>
      <%= form.select(:timeframe, @TimeFrameOptions,
                    { include_blank: "Select a time" },
                    { id: 'timeframe-select', class: 'w-custom15 mr-10' })
      %>
    </div>  
  </div>
  <div class="text-sm italic text-gray-600 mt-4">
    <% @report.errors.full_messages_for(:custom_timeframe).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <div class="text-sm italic text-gray-600 mt-4">
    <div id="custom-timeframe">
      <% if @report.timeframe == "custom" %>
        <%= render partial: "timeframe" %>
      <% end %>
    </div>
  </div>
  <br>

  <div id="user-container" class="clear-both">
  <div>
    <!-- shows possible error for the client -->
    <% @report.errors.full_messages_for(:user).each do |message| %>
      <div class="text-sm italic text-gray-600"><%= message %></div>
    <% end %>
  </div>
  <div class="flex justify-between">
    <%= form.label :user %>
      <%= form.collection_select(:user, @users, :id, :name,
          { include_blank: "Select a user" }, 
          { data: { action: "change->user-reports#handleChange" }, class: 'w-custom15 mr-10' }) %>
  </div>
  </div>
  <br>
  <div id="projects-container">
   <div>
      <!-- shows possible error for the project -->
      <% @report.errors.full_messages_for(:project_ids).each do |message| %>
        <div class="text-sm italic text-gray-600">
          <% message.gsub!('Project ids', 'Projects') %>
          <%= message %>
        </div>
      <% end %>
    </div> 
    <%= form.label :project_ids, "projects" %>
    <div data-user-reports-target="projectsDiv">

      <%= render partial: 'user_reports/projects_cb', locals: { report: @report, projects_by_client: @projects_by_client } %>

    </div>  
  </div>
  <br>
  
  <div class="clear-both mt-10">
     <div>
      <!-- shows possible error for the project -->
      <% @report.errors.full_messages_for(:task_ids).each do |message| %>
        <div class="text-sm italic text-gray-600">
          <% message.gsub!('Task ids', 'Tasks') %>
          <%= message %>
        </div>
      <% end %>
    </div> 
    <%= form.label :task_ids, "tasks" %>
    <div id="task-div">
      <%= render partial: 'user_reports/tasks_cb', locals: { report: @report, tasks: @tasks, selected_tasks: @selected_tasks } %>
    </div>
  </div> 
  <div class="clear-both flex justify-center">
    <%= form.submit "Create user report", class: "rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow clear-both" %>    
  </div>
<% end %> 

