<h1>show user report</h1>
<%= @report.user %><br>
<%= @report.project_ids%><br>
<%= @report.task_ids %><br>
<%= @report.timeframe %><br>
<%= @report.date_start %><br>
<%= @report.date_end %><br>
<%= @report.group_by %><br>
