<div class="flex flex-col items-center pt-4 mb-20">
  <div class="max-w-md md:min-w-custom60">
      <div data-controller="report-edit" >
      <div class="flex justify-between ml-4 mb-10">
        <h1 class="font-medium italic text-2xl">Your report</h1>
        <!-- button for viewing the edit form -->
        <button class="pl-3 pr-3 p-2 mr-10 rounded bg-blue-200 hover:bg-blue-300 flex justify-space-x-2" 
                data-action="click->report-edit#editReport">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg><span class="ml-1">Edit</span>
        </button>
      </div>
      <div class="<%= "hidden" if @show_edit_form == false %>" data-target="report-edit.toggleDiv">
        <%= render partial: 'edit' %>
      </div>    
    </div>
    
    <div class="flex justify-between mb-3">
      <div class="flex justify-center">
        <!-- form for changing the group_by -->
        <%= form_with url: user_report_update_group_path(@report), method: :patch do |form| %>
          <%= form.label :group_by, 'Group by:', class: 'mr-2' %>
          <%= form.select :group_by, options_for_select(@groupes, @report.group_by),{}, class: 'rounded-md border border-gray-300 pr-8 p-1 mr-1 focus:ring-1 focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' %>
          <span class="text-sm rounded bg-seaGreen p-1 hover:bg-seaGreenDark h-full text-white">
            <%= form.submit 'Update', class: ''%>
          </span>
        <% end %>      
      </div>
      <div class="mr-20">
        <!-- form for exporting the report -->
        <%= form_with url: { action: :export, format: :csv }, method: :post do |form| %>
          <%= form.hidden_field :time_regs_hash, value: @time_regs.to_json %>
          <span class="text-sm rounded bg-seaGreen p-2 hover:bg-seaGreenDark h-full text-white">
            <%= form.submit 'Export to CSV', class: '' %>
          
          </span>
        <% end %>       
      </div>
    </div>
    <div class="bg-slate-50 border-2 border-gray-400">
      <%= render partial: 'reports/report_data', locals: {grouped_report: @grouped_report}   %>
    </div>
</div>
</div>