<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :client %> <br>
    <%= form.collection_select :client_id, @clients, :id, :name, { include_blank: false }, { class: 'w-full rounded-md p-1' }  %>
    <% @project.errors.full_messages_for(:client).each do |message|%>
      <div class="text-sm italic text-gray-600">
        <%= message %>
      </div>
    <% end %>
  </div> 

  <div>
    <%= form.label :name %> <br>
    <%= form.text_area :name, class: 'w-full rounded-md p-1' %>
    <% @project.errors.full_messages_for(:name).each do |message|%>
      <div class="text-sm italic text-gray-600">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %> <br>
    <%= form.text_area :description, class: 'w-full rounded-md p-1' %>
    <% @project.errors.full_messages_for(:description).each do |message|%>
    <div class="text-sm italic text-gray-600">
      <%= message %>
    </div>            
  <% end %>
  </div>

  <% if form.object.new_record? %>
    <div>
      <%= form.label :task_ids, 'Tasks' %><br>
      <%= form.collection_check_boxes :task_ids, Task.all, :id, :name do |task| %>
        <div class="mr-4 border border-yellow-600 m-1 rounded p-1 w-fit float-left">
          <%= task.label { task.check_box + task.text } %>
        </div>
      <% end %>
    </div>  
  <% end %>

  <div class="actions text-center p-1 m-1 clear-both">
      <%= form.submit class: "rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow" %>
  </div>
<% end %>
