<%= form_with model: @project do |form| %>
  <div>
  <br>
    <%= form.label :client, class: 'block text-gray-700 font-bold mb-1' %>
    <%= form.collection_select :client_id, @clients, :id, :name, { include_blank: false }, { class: 'w-full rounded-md p-2 border border-gray-300 focus:ring-1 focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' }  %>
    <% @project.errors.full_messages_for(:client).each do |message|%>
      <div class="text-red-600 italic text-xs mt-1">
        <%= message %>
      </div>
    <% end %>
  </div> 
  <br>
  <div>
    <%= form.label :name, class: 'block text-gray-700 font-bold mb-1' %>
    <%= form.text_area :name, class: 'w-full rounded-md p-2 border border-gray-300 focus:ring-1 focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' %>
    <% @project.errors.full_messages_for(:name).each do |message|%>
      <div class="text-red-600 italic text-xs mt-1">
        <%= message %>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.label :description, class: 'block text-gray-700 font-bold mb-1' %>
    <%= form.text_area :description, class: 'w-full rounded-md p-2 border border-gray-300 focus:ring-1 focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' %>

    <% @project.errors.full_messages_for(:description).each do |message|%>
    <div class="text-red-600 italic text-xs mt-1">
      <%= message %>
    </div>            
  <% end %>
  </div>
  <br>
<div class="mb-14">
  <% if form.object.new_record? %>
    <%= form.label :task_ids, 'Tasks', class: 'block text-gray-700 font-bold mb-1' %>
    <div class="mt-2 ml-2 grid grid-cols-2 gap-4">
      <%= form.collection_check_boxes :task_ids, Task.all, :id, :name do |task| %>
        <div class="flex items-center space-x-2">
          <%= task.check_box(class: 'text-seaGreenDark focus:ring-seaGreenDark focus:ring-offset-2 focus:ring-opacity-50') %>
          <%= task.label(class: 'text-gray-800') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


  <div class="actions text-center p-1 m-1 clear-both">
    <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark shadow text-white">
      <%= form.submit class: '' %>
    </span>
  </div>
<% end %>
