<h1>edit project</h1>
<%= render "form", { client: @client, project: @project } %>

<div class="bg-orange-100">
    <h3>assigned tasks:</h3>
	<%= render @assigned_tasks %>
</div>

<div class="bg-yellow-100">
    <h3>edit members: </h3><br>
    <%= render @project.memberships %>
</div>

<%= render "memberships/new" %>

<%= link_to "back to project", [@client, @project], class: "border-2 border-black" %>
