
 <div class="flex flex-col items-center pt-4 mb-20"> 
  <div class="max-w-md md:min-w-custom35 my-4 " data-controller="collapse-delete"> 
    <div class="mb-6 ">
      <%= link_to 'back to project', @project, class: "text-sm italic text-gray-600" %>
    </div>
    <div class='flex justify-between mb-8'>
      <h1 class="font-medium italic text-2xl ml-4">Edit <%= @project.name %></h1><br>
      <button data-action="click->collapse-delete#deleteDiv" 
        class="rounded bg-tastyWhiteLite border border-gray-400 p-2 hover:bg-red-400" 
        data-task-id="delete-button">Delete project
      </button>
    </div>
    <div class="hidden" data-collapse-delete-target="toggleDiv">
      <%= render "projects/remove", project: @project %>
    </div>
    <%= render "form", project: @project %>


    <div class="pt-10">
      <h1 class="font-medium border-b border-gray-300 text-lg italic pb-2">Project tasks</h1>
      <%= render @assigned_tasks %>
    </div>

    <div>
      <h1 class="font-medium text-lg italic mt-8">Add task</h1>
      <%= render 'assigned_tasks/new' %>
      <p class="text-sm">Need more tasks to the project? Create one <%= link_to 'here', new_task_path, class: 'text-blue-600'%></p>
    </div>

    <div class="pt-10">
      <h1 class="font-medium border-b border-gray-300 text-lg italic pb-2">Project members</h1>
      <div class="bg-tastyWhiteLite">
        <%= render @project.memberships %>
      </div>
    </div>

    <div class="pt-10">
      <h1 class="font-medium text-lg italic pb-2">Add member</h1>
      <%= render "memberships/new" %>
    </div>
    <br>
  </div>
</div>
