<div class="flex flex-col items-center pt-4 mb-20">
  <div class="max-w-md md:min-w-custom35 my-4 " data-controller="collapse-delete">
    <div class='flex justify-between'>
      <h1 class="font-medium italic text-2xl ml-4">Edit <%= @project.name %></h1><br>
      <button data-action="click->collapse-delete#deleteProject" 
        class="rounded bg-gray-300 p-2 hover:bg-red-400" 
        data-task-id="delete-button">Delete project
      </button>
    </div>
    <div class="hidden" data-target="collapse-delete.toggleDiv">
      <%= render "projects/remove", project: @project %>
    </div>
    <%= render "form", project: @project %>


    <div class="pt-10">
      <h1 class="font-medium border-b border-gray-300 text-lg italic pb-2">Project tasks</h1>
        <%= render @project.assigned_tasks %>
    </div>

    <div class="pt-10">
      <h1 class="font-medium border-b border-gray-300 text-lg italic pb-2">Project members</h1>
      <%= render @project.memberships %>
    </div>

    <div class="pt-10">
      <h1 class="font-medium text-lg italic pb-2">Add member</h1>
      <%= render "memberships/new" %>
    </div>

    <br>
    <%= 
      link_to "back to project", @project, 
        class: "text-gray-600 italic text-sm" 
    %>
  </div>
</div>
