<h1>show project</h1>

<h2>prosjekt navn: <%= @project.name %></h2>

<h2>prosjekt beskrivelse: <%= @project.description %></h2>

<%= render @project.members %>


<ul>
    <li><%= link_to "Edit", edit_project_path(@project) %></li>
    <li>
        <%= 
            link_to "Delete project", project_path(@project), 
            data:{
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            }
        %>
    </li>    
</ul>
