<div class="bg-pink-100">
    <h1>show project</h1>
<br>
    <h2>prosjekt navn: <%= @project.name %></h2>
<br>

    <h2>prosjekt beskrivelse: <%= @project.description %></h2>
    <br>

    <h4>project members: </h4>
    <h4><%= render @project.memberships %></h4>
    <br>

    <h5>Assigned tasks:</h5>
    <% @assigned_tasks.each do |assigned_task| %>
        <%= link_to assigned_task.name %>
        <br>
    <% end %>
    <ul class="bg-violet-200 padding-10">
        <li><%= link_to "Edit project", edit_client_project_path(@client, @project) %></li>
        <li><%= link_to "Assign task", new_client_project_assigned_task_path(@client, @project) %></li>
        <br>
        <li>
            <%= 
                link_to "Delete project", client_project_path(@project), 
                data:{
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                }
            %>
        </li>    
    </ul>
</div>


<%= link_to "back to projects", client_projects_path(@client), class: "border-2 border-black" %>
