<table>
  <thead>
    <tr class="bg-gray-200">
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <% grouped_report.each do |group, time_regs| %>
    <div class="bg-gray-100">
      <%= group %>   
    </div>

    <% time_regs.each do |time_reg |%>
      <p>
        <span>
          <%= time_reg.user.first_name %> <%= time_reg.user.last_name%>
        </span>
        -
        Date worked: <%= time_reg.date_worked %>
        -
        Task name: <%= time_reg.task.name %>
        -
        Minutes: <%= time_reg.minutes %><br>    
      </p>
    <% end %>
    <br>
  <% end %>
</table>

