<div id="">
  <% grouped_report.each do |group, time_regs| %>
      <%= group %> <br>
      <% time_regs.each do |time_reg |%>
          User: <%= time_reg.membership.user.email %>
          -
          Date worked: <%= time_reg.date_worked %>
          -
          Task name: <%= time_reg.assigned_task.task.name %>
          -
          Minutes: <%= time_reg.minutes %><br>
      <% end %>
  <% end %>
</div>