<div class="flex flex-col items-center pt-4 mb-20">
  <div class="max-w-md md:min-w-custom50">
    <h1 class="font-medium italic text-2xl ml-4 mb-10">Your report</h1>
    <div class="flex justify-between mb-3">
    
      <div class="flex justify-center">
        <%= form_with url: '/reports/index', method: 'get' do |form| %>
          <%= form.hidden_field :old_group, value: @group_name %>
          <%= form.select :grouping, options_for_select(@groupes), { include_blank: "Group by: " } ,class: 'pr-8 mr-2' %>
          <%= form.submit 'Update', class: 'text-sm rounded bg-blue-200 p-1 hover:bg-blue-300 h-full'%>
        <% end %>      
      </div>
      <div class="mr-20">
        <%= form_with url: { action: :export_test, format: :csv }, method: :get do |form| %>
          <%= form.hidden_field :time_reg_ids, value: @time_regs.pluck(:id).to_json %>
          <%= form.submit 'Export to CSV', class: ' rounded bg-blue-200 p-1 hover:bg-blue-300' %>
        <% end %>       
      </div>

    </div>
    <div id="">
    <%= render partial: 'report_data', locals: { grouped_report: @grouped_report, group_name: @group_name } %>
  </div>
  </div>
</div>


