<h1>this is the index </h1>
<%= form_with url: '/reports/index', method: 'get' do |form| %>
  <%= form.label :grouping, "Group by: " %>
  <%= form.select :grouping, options_for_select(@groupes), {} ,class: 'pr-8' %>
  <%= form.submit 'Update' %>
<% end %>
<br>

<div id="">
  <%= render partial: 'report_data', locals: { grouped_report: @grouped_report } %>
</div>



