<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom45 bg-neutral-50 rounded border border-gray-300 p-4" data-controller="reports">
    <h1 class="text-2xl m-1 font-bold">Time report</h1>
    <br>
      <%= form_with url: reports_path do |form| %>
      <div id="timeframe-container" >
        <div class="flex justify-between">
          <%= form.label :timeframe, "Timeframe:"%>
          <%= form.select :timeframe, @TimeFrameOptions, 
                            { include_blank: "Select a time"},
                            { id: 'timeframe-select',
                              class: 'w-custom15 mr-10'
                            } 
          %>  
        </div>
        <div id="custom-timeframe">
        </div> 
      </div>
      <br>
      <div id="client-container" class="clear-both flex justify-between">
        <%= form.label :client, "Client: "%>
        <%= form.collection_select(:client, @clients, :id, :name, 
                          { include_blank: "Select a client"},
                          { id: 'client-select',
                            class: 'w-custom15 mr-10' 
                          })
        %>
      </div>
      <br>
      <div id="project-container" class="flex justify-between">
        <%= form.label :project, "Project:"%>
        <%= form.collection_select(:project, [], :id, :name,
                          { include_blank: "Select a project" },
                          { id: 'project-select',
                            class: 'w-custom15 mr-10' 
                          })
        %>    
      </div>
        <br>
        <div id="task-member-container">
          <div id="task-container">
            <%= form.label :task_ids, "Tasks: "%>
            <div id="task-checkboxes" data-checkbox-group-target="container">
            </div>
          </div>
          <br>
          <div id="member-container">
            <%= form.label :members_ids, "Members: "%>
            <div id="member-checkboxes" data-checkbox-group-target="container">
            </div>
          </div>
        </div>
        <%= form.submit class: 'rounded bg-blue-200 p-2 m-2 hover:bg-blue-300 shadow' %>
      <% end %>    
  </div>
</div>
