<!DOCTYPE html>
<html>
  <head>
    <title>Reap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <!-- Navbar -->
    <nav class="flex space-x-2 h-16 bg-orange-100 shadow-md sm:justify-center items-center mb-1">
      <%= link_to "Reap", root_path, class: "font-bold" %>
      <%= link_to "Tasks", tasks_path %>
      <%= link_to "Clients", clients_path %>
      <div class="">
        <% if current_user %>
         <div class="group absolute">
            <button type="button" class="btn btn-secondary"><%= current_user.email %></button>
            <div class="hidden group-hover:block h-24 ">
              <div class="table">
                <div class="table-row"><%= link_to "Edit Account" %></div>
                <div class="table-row"><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></div>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign Up", new_registration_path(resource_name) %>
          <%= link_to "Sign In" %>
        <% end %>
      </div>
    </nav>

    <div class="flex justify-evenly pt-4">
      <% if notice %>
        <p class="notice bg-green-300 text-red-900 px-3 py-3 w-fit rounded-full"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert bg-red-300 text-red-900 px-3 py-3 w-fit rounded-full"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>   

    <!-- Footer -->
    <footer class="bottom-0 bg-orange-100 h-16 items-center flex space-x-2 sm:justify-center fixed w-full">
    <a href="" class="font-bold">Reap</a>
    <a href="">About Us</a>
    </footer>
  </body>
</html>
