<!DOCTYPE html>
<html>
  <head>
    <title>Reap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-cream">
  <!-- Navbar -->
    <%= render 'layouts/navbar'%>

    <div class="flex justify-evenly pt-4">
      <% if notice %>
        <p class="notice bg-green-300 text-red-900 px-3 py-3 w-fit rounded-full"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert bg-red-300 text-red-900 px-3 py-3 w-fit rounded-full"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>   

    <!-- Footer -->
    <footer class="bottom-0 bg-tastyWhite h-16 items-center flex space-x-2 sm:justify-center fixed w-full">
    <a href="" class="font-bold">Reap</a>
    <a href="">About Us</a>
    </footer>
  </body>
</html>
